<!--footer-->
<footer class="footer1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        {{ logo }}
      </div>

      <div class="col-lg-3 col-md-3">
          <div class="widget-container widget_nav_menu">
            <h3 class="title-widget">Lorem ipsum</h3>
            {{ menu_links }}
          </div>
      </div>

      <div class="col-lg-3 col-md-3">
          <div class="widget-container widget_nav_menu">
            <h3 class="title-widget">Lorem ipsum</h3>
            {{ menu_links }}
          </div>
      </div>

      <div class="col-lg-3 col-md-3">
          <div class="widget-container widget_recent_news">
            <h3 class="title-widget">Contact Detail</h3>
            <div class="footerp">
              <h2 class="title-median">MTech, LLC.</h2>
              <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@mtech-llc.com</a></p>
              <p><b>Helpline Numbers </b>
                <b style="color:#ffc106;">
                  (8AM to 5PM):
                </b>
                <br/>
                +000-00000000, +000-00000000
              </p>
            </div>
            <div class="social-icons">
              {{ icons }}
            </div>
          </div>
      </div>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          {{ powered_by }}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          {{ design }}
        </div>
      </div>
    </div>
  </div>
</div>